body {
align-content: center;
width: 960px;
margin: auto;
background-color: grey;
}

header {
width: 100%;
line-height: 80px;
text-align: center;
background-color: white;
color: grey;
}

nav {
width: 100%;
line-height: 80px;
text-align: center;
background-color: white;
color: grey;
}

section {
float: left;
width: 55%;
line-height: 50px;
text-align: center;
background-color: white;
color: grey;
padding-bottom: 1%;
margin-bottom: 2%;
}

.container {
text-align: center;
background-color: grey;
margin: auto;
width: 95%;
padding-bottom: 1%;
}

#article {
    color: white;
    background-color: grey;
    padding-top: 0px;
}

.container2 {
width: 90%;
margin: auto;
padding-bottom: 1%;

}

#headings {
    color: grey;
    background-color: white;
    
}

#paragraph {
    color: grey;
    background-color: white;
    
}


aside {
float: right;
text-align: center;
width: 42%;
background-color: white;
color: grey;
padding-bottom: 246px;
}

footer {
clear: both;
overflow: auto; 
text-align: center;
width: 100%;
color: grey;
background-color: white;
line-height: 80px;
}
