body {
        background-color: #777;
        margin: auto;
        padding: 0;
        width: 1300px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        
}   

h1 {
    color: #777;
    background-color: #ebebeb;
    font-size: 18px;
    width: 1300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;

    }
nav {
    color: #777;
    background-color: #ebebeb;
    font-size: 18px;
    width: 1300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    }


aside {
    color: #777;
    background-color: #ebebeb;
    font-size: 18px;
    width: 600px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 150px;
    float: left;




}

section {
    color: #777;
    background-color: #ebebeb;
    font-size: 18px;
    width: 650px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 150px;
}



footer {
    color: #777;
    background-color: #ebebeb;
    font-size: 18px;
    width: 1300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}




