body {
align-content: center;
width: 960px;
margin: auto;
background-color: grey;
}

header {
width: 100%;
text-align: center;
background-color: white;
color: grey;
}

nav {
width: 100%;
text-align: center;
background-color: white;
color: grey;
}

section {

width: 50%;
text-align: center;
background-color: white;
color: grey;
padding-bottom: 1%;
}

.container {
text-align: center;
background-color: grey;
margin: auto;
width: 95%;
padding-bottom: 1%;
}

#artice {
    color: white;
    background-color: grey;
}

.container2 {
width: 90%;
margin: auto;
padding-bottom: 1%;

}

#headings {
    color: grey;
    background-color: white;
    
}

#paragraph {
    color: grey;
    background-color: white;
    
}





aside {
text-align: center;
width: 45%;
background-color: white;
color: grey;
}

footer {
clear: both;
overflow: auto; 
text-align: center;
width: 100%;
color: grey;
background-color: white;
}
